<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <system.webServer>
<directoryBrowse enabled="false" />
<staticContent>
<mimeMap fileExtension=".vtt" mimeType="text/vtt" />
<mimeMap fileExtension=".webp" mimeType="image/webp" />
</staticContent>
</system.webServer>
 
<system.net>
<mailSettings>
<smtp deliveryMethod="Network">
<network host="smtp.office365.com" port="587" enableSsl="true"
         userName="noreply@easitpa.com" password="PLACEHOLDER" />
</smtp>
</mailSettings>
</system.net>
 
</configuration>